backports.ssl-match-hostname==3.5.0.1
BeautifulSoup==3.2.1
breadability==0.1.20
certifi==2016.9.26
chardet==2.3.0
cssselect==1.0.0
decorator==4.0.10
docopt==0.6.2
Factory==1.2
Faker==0.7.3
gevent==1.1.2
goose-extractor==1.0.22
greenlet==0.4.10
ipaddress==1.0.17
jieba==0.38
lxml==3.7.0
MultipartPostHandler==0.1.0
networkx==1.9.1
nltk==3.2.1
numpy==1.12.0rc1
Pillow==3.4.2
praw==3.3.0
prawcore==0.3.0
prawoauth2==0.3
pymongo==3.4.0
python-dateutil==2.6.0
PyYAML==3.12
requests==2.12.4
scikit-learn==0.14.1
scipy==0.18.1
six==1.10.0
sumy==0.5.1
tornado==4.2
update-checker==0.15
